<style>
.no-x-overflow {
    overflow-x: hidden;
}

.logo {
    width: 140px;
    height: 46px ;
}
</style>

<div>
    <graph-launcher></graph-launcher>

    <div class="app app-row">
        <div class="app-menu app-column">
            <div class="app-overlay" data-toggle=".app-menu"></div>
            <div class="app-header app-navbar app-shadow app-pad">
                <div class="app-row app-middle">
                    <div class="app-body">
                        <div class="logo">
                            <img style="width: 100px; height: 40px" class="logo" ng-src="{{ logo }}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-body">
                <div class="app-scroll app-pad app-flush-right no-x-overflow">
                    <model-tree tree="tree"></model-tree>
                </div>
            </div>
        </div>
        <div class="app-content app-column">
            <div class="app-header app-navbar app-shadow">
                <div class="app-frame app-pad app-row app-middle">
                        <input
                            id="search"
                            ng-model="search.query"
                            ng-focus="onSearchFocus($event, true)"
                            ng-keydown="onSearchKeypress($event)"
                            type="text"
                            class="form-control"
                            placeholder="Search for models..." />
                    <div class="app-body">
                    </div>
                    <div class="app-footer app-icn" ng-show="search.is_focused" ng-click="clearSearch()">
                        <svg class="icn icn-md"><use xlink:href="#icn-close"></use></svg>
                    </div>
                </div>
            </div>
            <div class='app-body' ng-show='!search.is_focused' ui-view></div>
            <div class="app-body" ng-show="search.is_focused">
                <docs-search query="search.query" results="search.results" on-select="clearSearch()"></docs-search>
            </div>
        </div>
    </div>
</div>
