<style>
.menu ul ul {
    margin-left: 12px;
}
</style>

<div class="menu">
    <ul>
        <li><a ui-sref="dbt.overview()" class="menu-link menu-main">Overview</a></li>

        <div class="switches">
            <div class="switch ">
                <a href="#"
                   class="switch-label"
                   ng-class="{active: (nav_selected == 'project')}"
                   ng-click="nav_selected = 'project'">Project</a>
            </div>
            <div class="switch">
                <a href="#"
                   class="switch-label"
                   ng-class="{active: (nav_selected == 'database')}"
                   ng-click="nav_selected = 'database'">Database</a>
            </div>
        </div>

        <div class="menu" ng-show="nav_selected == 'project'">
            <span ng-show="tree.sources.length > 0">
                <strong>Sources</strong>
                <model-tree-line
                    item="item"
                    ng-repeat="item in tree.sources"></model-tree-line>
                <br />
            </span>

            <strong>Models</strong>
            <model-tree-line
                item="item"
                ng-repeat="item in tree.project"></model-tree-line>
        </div>

        <div class="menu" ng-show="nav_selected == 'database'">
            <strong>Tables and Views</strong>
            <model-tree-line
                item="item"
                ng-repeat="item in tree.database"></model-tree-line>
        </div>
    </ul>
</div>
