<style>
.menu ul ul {
    margin-left: 12px;
}
</style>

<div class="menu">
    <ul>
        <li>
            <a ui-sref="dbt.overview()" class="menu-link menu-main">
                Overview
            </a>
        </li>

        <li>
            <div class="switches">
                <div class="switch ">
                    <span
                       class="switch-label btn btn-sm"
                       ng-class="{active: (nav_selected == 'project')}"
                       ng-click="nav_selected = 'project'">
                        <svg class="icn menu-icon-on"><use xlink:href="#icn-dir-on"></use></svg>
                        Project
                    </span>
                </div>
                <div class="switch">
                    <span
                       class="switch-label btn btn-sm"
                       ng-class="{active: (nav_selected == 'database')}"
                       ng-click="nav_selected = 'database'">
                        <svg class="icn menu-icon-on"><use xlink:href="#icn-tree-on"></use></svg>
                        Database
                    </span>
                </div>
            </div>
        </li>

        <li>
            <div class="menu" ng-show="nav_selected == 'project'">
                <div ng-show="tree.sources.length > 0">
                    <strong>Sources</strong>
                    <ul style="display: block">
                        <model-tree-line
                            item="item"
                            resource-type="source"
                            ng-repeat="item in tree.sources"></source-tree-line>
                    </ul>
                    <br />
                </div>

                <div ng-show="tree.exposures.length > 0">
                    <strong>Exposures</strong>
                    <ul style="display: block">
                        <model-tree-line
                            item="item"
                            resource-type="exposure"
                            ng-repeat="item in tree.exposures"></model-tree-line>
                    </ul>
                    <br />
                </div>
                
                <div ng-show="tree.metrics.length > 0">
                    <strong>Metrics</strong>
                    <ul style="display: block">
                        <model-tree-line
                            item="item"
                            resource-type="metric"
                            ng-repeat="item in tree.metrics"></model-tree-line>
                    </ul>
                    <br />
                </div>

                <strong>Projects</strong>
                <ul>
                    <model-tree-line
                        item="item"
                        resource-type="model"
                        ng-repeat="item in tree.project"></model-tree-line>
                </ul>
            </div>
        </li>

        <li>
            <div class="menu" ng-show="nav_selected == 'database'">
                <strong>Tables and Views</strong>
                <ul>
                    <model-tree-line
                        item="item"
                        resource-type="model"
                        ng-repeat="item in tree.database"></model-tree-line>
                </ul>
            </div>
        </li>
    </ul>
</div>
