<div class="app-scroll">
    <style>
    .search-result-match {
        background-color: #eee;
    }
    .spacing {
        margin-right: 0.25em;
    }
    .sub-results {
        margin-left: 36px;
    }
    </style>
    <div class="app-title">
        <div class="app-frame app-pad">
            <h1>
                <span class="break">{{ query }}</span>
                <small><span>{{ results.length }}</span> search results</small>
            </h1>
            <input type="checkbox" id="name" ng-model="checkboxStatus.show_names" ng-click="filterResults(results, checkboxStatus)" style = "margin-left:10px;margin-right:5px">
            <label for="name" style="margin-right:25px">Name</label> 
            <input type="checkbox" id="desc" ng-model="checkboxStatus.show_descriptions" ng-click = "filterResults(results, checkboxStatus)" style = "margin-right:5px">
            <label for="desc" style="margin-right:25px;">Description</label> 
            <input type="checkbox" id="column" ng-model="checkboxStatus.show_columns" ng-click = "filterResults(results, checkboxStatus)" style = "margin-right:5px">
            <label for="column" style="margin-right:25px;">Column</label> 
            <input type="checkbox" id="code" ng-model="checkboxStatus.show_code" ng-click = "filterResults(results, checkboxStatus)" style = "margin-right:5px">
            <label for="code" style="margin-right:15px;">SQL</label>
            <input type="checkbox" id="code" ng-model="checkboxStatus.show_tags" ng-click = "filterResults(results, checkboxStatus)" style = "margin-right:5px">
            <label for="code" style="margin-right:15px;">Tags</label>
        </div>
    </div>
    <div class="app-details">
        <div class="app-frame app-pad">
            <div class="results">
                <div ng-repeat="result in results | filter:limit_search | orderBy:'overallWeight':true track by result.model.unique_id"
                     data-ui-state="getState(result.model)" data-ui-state-params="{unique_id: result.model.unique_id}"
                     ng-click="onSelect()"
                     class="result search-result a">
                        <div class="result-content">
                            <div class="result-icn">
                                <svg class="icn "><use xlink:href="#icn-doc"></use></svg>
                            </div>
                            <div class="result-body">
                                <h4 class="a">
                                    <span ng-bind-html="highlight(getModelName(result.model))"></span>
                                    <small>{{result.model.resource_type}}</small>
                                </h4>
                                <p ng-bind-html="highlight(shorten(result.model.description))"></p>
                            </div>
                        </div>
                        <div class="sub-results" ng-show="query.length > 0">
                        <span ng-repeat="column in columnFilter(result.model.columns) | limitTo:limitColumns(result.model.unique_id)">
                            <span ng-show="$first === true">columns:</span>
                            <span ng-bind-html="highlight(column + ',')" ng-show="$last === false"></span>
                            <span ng-bind-html="highlight(column)" ng-show="$last === true"></span>
                        </span>
                        <a
                            ng-show="columnFilter(result.model.columns).length > max_results_columns && !limit_columns[result.model.unique_id]"
                            ng-click="$event.stopPropagation(); limit_columns[result.model.unique_id] = 100">Show {{ columnFilter(result.model.columns).length - max_results_columns }} more</a>
                        </div>
                        <div class="sub-results" ng-show="query.length > 0">
                        <span>
                            <span ng-bind-html = "highlight(shorten(result.model['raw_sql']))"></span>
                        </span>
                        </div>
                        <div class="sub-results" ng-show="query.length > 0">
                        <span ng-repeat="tag in result.model.tags">
                            <span ng-show="$first === true">tags:</span>
                            <span ng-bind-html="highlight(tag + ',')" ng-show="$last === false"></span>
                            <span ng-bind-html="highlight(tag)" ng-show="$last === true"></span>
                        </span>
                        </div>
                </div>
                <a
                    ng-show="results.length >= max_results && !show_all"
                    ng-click="show_all = true">Show {{ results.length - max_results }} more</a>
            </div>
        </div>
    </div>
</div>
